deeplapikey.txt
apikeys.json
translation_cache_deepl.json
translation_cache_google.json
__pycache__/main.cpython-313.pyc
settings.json
furigana_overrides.json
testreadings.py
debug_nanori.py
test_readings.py
app.log
_paddle_game.txt
paddle.log
Todo.txt
/tests
__pycache__/
